* {
   margin: 0;
}
html, body {
   background-color:#b70101;
   font-size: 12pt;
}
h1 {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-style: italic;
   font-size: 18px;
   color: #aaaaaa;
}
p, ul, tr, td, table {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   color: #000000;
}
img.blokartLogo {
   vertical-align:baseline;
}
p.topTitle {
   width:80%;
   padding:5px;
   color:#ff0707;
   background-color:#ffffff;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   font-size:32pt;
   font-weight:bold;
   font-style:italic;
   border:5px;
   border-style:solid;
   border-color:#600101;
}
a:link {
   text-decoration: underline; 
   color: #b70101; 
   font-weight:bold;
}
a:focus, a:hover, a:active { 
   outline:none
}
a:visited {
   text-decoration: none;
   color: #b70101; 
   font-weight:normal;
}
a.titleLink:link {
   text-decoration: none
}
a.titleLink:visited {
   text-decoration: none;
}
a.mtp:link {
   text-decoration: underline; 
   color: #000000; 
   font-weight:bold;
}
a.mtp:visited {
   text-decoration: none;
   color: #000000; 
   font-weight:normal;
}
.textLeft {
   text-align:left;
}
.textCtr {
   text-align: center;
}
.blockCtr {
   margin-left: auto;
   margin-right: auto;
}
.footer {
   margin-top:20px;
   text-align: center;
   font-size: 9pt;
   color: #000000;
}
.sponsorFooter {
   margin-top:10px;
   margin-bottom:10px;
   text-align: center;
   font-size:8pt;
   color: #000000;
}
.indent {
   margin-left: 5%;
}
.indent1 {
   margin-left: 10%;
}
.indent2 {
   margin-left: 15%;
}
.indent3 {
   margin-left: 20%;
}
indent4 {
   margin-left: 20%;
}
.rightIndent2 {
   margin-right: 15%
}
.rightIndent3 {
   margin-right: 20%
}
.logo {
   font-family: Impact, Arial, Helvetica, sans-serif;
   font-style: italic;
   font-size: 48pt;
   color: #f0f0f0;
}
.linkToMain {
   margin-top:10px;
}
span.reg {
   font-size:9px;
   vertical-align:top;
}
span.regH {
   font-size:10px;
   vertical-align:top;
   color:black;
}

